.Timer-Component{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .Widgets{
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2%;

        .Widget{
            background-color: white;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            width: 12%;
            aspect-ratio: 1/1;
    
            .Value{
                height: 40%;
                font-size: 3vw;
                margin-bottom: 0;
                margin-top: 8px;
                text-align: center;
            }
    
            .Unit{
                height: 30%;
                margin: 0;
                font-size: 2vw;
            }
        }
    }
}